<div class="productHeader">
  <h1 class="productHeading">.products</h1>
</div>

<ul class="productList" *ngIf="products$ | async as products">
  <li *ngFor="let product of products" class="productContainer">
    <a class="productItemLinkWrapper" routerLink="/products/{{ product.id }}">
      <div class="productImageContainer">
        <img src="{{ product.image }}" class="productImage" />
      </div>
      <div class="productContainerRight">
        <h4>
          {{ product.title }}
        </h4>
        <p>{{ product.description }}</p>
      </div>
    </a>
  </li>
</ul>
