<div *ngIf="cartData$ | async as cartData">
  <ul class="cartContainer">
    <li class="itemRow" *ngFor="let product of cartData['products']">
      <div class="productInfoContainer">
        <a routerLink="/products/{{ product.id }}"
          ><h3>{{ product.title }}</h3></a
        >
        <img class="image" src="{{ product.image }}" />
      </div>
      <div class="purchaseInfoContainer">
        <h3>price: {{ product.price }}</h3>
        <h3>qty: {{ product.quantity }}</h3>
        <div class="stepperContainer">
          <p class="qtyText">qty: {{ product.quantity }}</p>

          <div class="qtyControls">
            <button
              class="stepperBtn"
              (click)="modifyQty(product.id, product.quantity + 1)"
            >
              <div class="caretIncrease"></div>
            </button>
            <button
              class="stepperBtn"
              (click)="modifyQty(product.id, product.quantity - 1)"
            >
              <div class="caretDecrease"></div>
            </button>
          </div>
        </div>
        <button (click)="deleteItem(product.id)">Delete</button>
      </div>
    </li>
  </ul>
</div>
