<div *ngIf="product$" class="productPage">
  <div class="productDescriptionContainer">
    <div class="productImgContainer">
      <img class="productImg" src="{{ product$.image }}" />
    </div>
    <h1 class="productTitle">{{ product$.title }}</h1>
    <hr />
    <p class="productDescription">{{ product$.description }}</p>
  </div>

  <div class="priceAndAvailabilityContainer">
    <h3 class="priceContainer">
      <span class="dollarSign">$</span>
      <span class="dollars">{{ priceDismantler(product$.price).dollar }}</span>
      <span class="cents">{{ priceDismantler(product$.price).cents }}</span>
    </h3>
    <div class="stepperContainer">
      <p class="qtyText">qty: {{ stepperQty }}</p>

      <div class="qtyControls">
        <button class="stepperBtn" (click)="increment()">
          <div class="caretIncrease"></div>
        </button>
        <button class="stepperBtn" (click)="decrement()">
          <div class="caretDecrease"></div>
        </button>
      </div>
    </div>

    <button class="addToCartBtn" (click)="addToCart()">Add to Cart</button>
  </div>

  <!-- {{ logRender() }} -->
</div>

<!--
Product
  id: number;
  title: string;
  price: number;
  description: string;
  category: string;
  image: string;
  rather: { rate: number; count: number };
-->
